################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe.csproj
/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe/Web.config
/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe.csproj.dtbcache.json
/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe/bin/WebsiteDatXeCongNghe.dll
/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe/bin/WebsiteDatXeCongNghe.dll.config
/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe/bin/WebsiteDatXeCongNghe.pdb
/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe/obj/Debug/WebsiteDatXeCongNghe.csproj.AssemblyReference.cache
/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe/obj/Debug/WebsiteDatXeCongNghe.csproj.CoreCompileInputs.cache
/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe/obj/Debug/WebsiteDatXeCongNghe.csproj.FileListAbsolute.txt
/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe/obj/Debug/WebsiteDatXeCongNghe.dll
/WebsiteDatXeCongNghe/WebsiteDatXeCongNghe/obj/Debug/WebsiteDatXeCongNghe.pdb
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/v17/.suo
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/v17/DocumentLayout.backup.json
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/v17/DocumentLayout.json
/.vs/Project/v17/.wsuo
/.vs/Project/v17/DocumentLayout.json
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/config/applicationhost.config
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/CopilotIndices/17.14.827.52834/CodeChunks.db
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/CopilotIndices/17.14.827.52834/CodeChunks.db-wal
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/CopilotIndices/17.14.827.52834/SemanticSymbols.db
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/CopilotIndices/17.14.827.52834/SemanticSymbols.db-shm
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/CopilotIndices/17.14.827.52834/SemanticSymbols.db-wal
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/FileContentIndex/10713a67-45cc-4f2f-acbc-636a6375587a.vsidx
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/FileContentIndex/25d65345-8a54-479d-9a0f-789210945431.vsidx
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/FileContentIndex/576c8908-54ba-4bfa-ac9f-c9d795134f08.vsidx
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/FileContentIndex/581a1b7f-9df1-4343-8353-5b4bbd7a49e7.vsidx
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/FileContentIndex/ad193f19-44e8-43d4-ac6e-dec7e383f880.vsidx
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/FileContentIndex/c2273985-2d4b-4d0f-9636-7a0e1b110292.vsidx
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/FileContentIndex/e850b532-cb66-4ae3-b482-22cfc8f85b16.vsidx
/WebsiteDatXeCongNghe/.vs/WebsiteDatXeCongNghe/FileContentIndex/f7fe3e17-8d42-4a63-85e4-ead79cba720f.vsidx
