USE [master]
GO
/****** Object:  Database [DichVuDatXeWebsite3]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE DATABASE [DichVuDatXeWebsite3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DichVuDatXeWebsite3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\DichVuDatXeWebsite3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DichVuDatXeWebsite3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\DichVuDatXeWebsite3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DichVuDatXeWebsite3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DichVuDatXeWebsite3]
GO
/****** Object:  Table [dbo].[DanhGiaTaiXe]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaTaiXe](
	[MaDanhGiaTX] [int] IDENTITY(1,1) NOT NULL,
	[KHDanhGia] [varchar](100) NOT NULL,
	[TKTaiXe] [varchar](100) NOT NULL,
	[MucDo] [int] NOT NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[NgayDanhGia] [datetime] NULL,
 CONSTRAINT [PK_DanhGiaTaiXe] PRIMARY KEY CLUSTERED 
(
	[MaDanhGiaTX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaUngDung]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaUngDung](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [varchar](100) NOT NULL,
	[NgayDanhGia] [datetime] NULL,
	[MucDo] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_DanhGiaUngDung] PRIMARY KEY CLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [varchar](100) NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[NgayThangNamSinh] [datetime] NULL,
	[CCCD] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[HinhAnh] [varchar](100) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[MaCode] [varchar](50) NULL,
	[TenKhuyenMai] [nvarchar](max) NULL,
	[PhanTram] [decimal](5, 2) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGiaoDich]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGiaoDich](
	[MaGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [varchar](100) NULL,
	[NgayGiaoDich] [datetime] NULL,
	[LoaiGiaoDich] [varchar](50) NULL,
	[SoTien] [decimal](18, 3) NULL,
 CONSTRAINT [PK_LichSuGiaoDich] PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanTin]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanTin](
	[MaNhanTin] [int] IDENTITY(1,1) NOT NULL,
	[SDTNguoiNhan] [varchar](100) NULL,
	[SDTNguoiGui] [varchar](100) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[TrangThaiXem] [bit] NULL,
	[CamXuc] [nvarchar](50) NULL,
	[NgayGui] [datetime] NULL,
 CONSTRAINT [PK_NhanTin] PRIMARY KEY CLUSTERED 
(
	[MaNhanTin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](100) NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyenTaiKhoan]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenTaiKhoan](
	[MaQuyenTK] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [varchar](100) NOT NULL,
	[MaQuyen] [int] NOT NULL,
 CONSTRAINT [PK_QuyenTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaQuyenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [varchar](100) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanNganHang]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNganHang](
	[MaTaiKhoanNH] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [varchar](100) NOT NULL,
	[CCCD] [nvarchar](50) NULL,
	[SoThe] [nvarchar](100) NULL,
	[ChuThe] [nvarchar](100) NULL,
	[ThoiHanThang] [int] NULL,
	[ThoiHanNam] [int] NULL,
	[CVV] [int] NULL,
	[SoDu] [decimal](18, 3) NULL,
 CONSTRAINT [PK_TaiKhoanNganHang] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoanNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanNganHangTaiXe]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNganHangTaiXe](
	[MaTaiKhoanNHTaiXe] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [varchar](100) NULL,
	[CCCD] [nvarchar](50) NULL,
	[SoThe] [nvarchar](100) NULL,
	[ChuThe] [nvarchar](100) NULL,
	[ThoiHanThang] [int] NULL,
	[ThoiHanNam] [int] NULL,
	[CVV] [int] NULL,
	[SoDu] [decimal](18, 3) NULL,
 CONSTRAINT [PK_TaiKhoanNganHangTaiXe] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoanNHTaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiXe]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiXe](
	[MaTX] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [varchar](100) NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[NgayThangNamSinh] [datetime] NULL,
	[Email] [varchar](50) NULL,
	[BienSo] [varchar](50) NULL,
	[CCCD] [varchar](50) NULL,
	[NgayDangKy] [datetime] NULL,
	[HinhAnh] [varchar](100) NULL,
	[MucDoDanhGiaTB] [decimal](5, 2) NULL,
	[DiemUyTin] [decimal](5, 2) NULL,
	[ViTri] [nvarchar](100) NULL,
	[ViTien] [decimal](18, 3) NULL,
 CONSTRAINT [PK_TaiXe] PRIMARY KEY CLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiXeNhanChuyenXe]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiXeNhanChuyenXe](
	[MaNhanChuyen] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [varchar](100) NOT NULL,
	[MaDatXe] [int] NOT NULL,
	[NgayNhan] [datetime] NULL,
	[TrangThai] [bit] NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_TaiXeNhanChuyenXe] PRIMARY KEY CLUSTERED 
(
	[MaNhanChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [varchar](100) NOT NULL,
	[SoDienThoaiTX] [varchar](100) NOT NULL,
	[MaTaiKhoanNH] [int] NULL,
	[MaDatXe] [int] NULL,
	[MaKhuyenMai] [int] NULL,
	[GiaBanDau] [decimal](18, 3) NULL,
	[PhiCauDuong] [decimal](18, 3) NULL,
	[PhiMoRong] [decimal](18, 3) NULL,
	[PhiKhuyenMai] [decimal](18, 3) NULL,
	[TongTien] [decimal](18, 3) NULL,
	[HinhThucThanhToan] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
	[NgayThanhToan] [datetime] NULL,
 CONSTRAINT [PK_ThanhToan] PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheVisa]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheVisa](
	[MaThe] [int] IDENTITY(1,1) NOT NULL,
	[SoThe] [nvarchar](100) NOT NULL,
	[ChuThe] [nvarchar](100) NULL,
	[ThoiHanThang] [int] NULL,
	[ThoiHanNam] [int] NULL,
	[CVV] [int] NULL,
	[SoDu] [decimal](18, 3) NULL,
 CONSTRAINT [PK_TheVisa] PRIMARY KEY CLUSTERED 
(
	[SoThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinDatXe]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinDatXe](
	[MaDatXe] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [varchar](100) NOT NULL,
	[DiemDon] [nvarchar](100) NOT NULL,
	[DiemDen] [nvarchar](100) NOT NULL,
	[SoKm] [varchar](50) NULL,
	[ThoiGian] [nvarchar](50) NULL,
	[ThanhTien] [varchar](50) NULL,
	[LoaiXe] [nvarchar](50) NULL,
	[HinhThucThanhToan] [nvarchar](50) NULL,
	[NgayGioDat] [datetime] NULL,
	[TrangThai] [bit] NULL,
	[PassengerImage] [nvarchar](max) NULL,
	[PassengerName] [nvarchar](50) NULL,
	[PassengerEmail] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThongTinDatXe] PRIMARY KEY CLUSTERED 
(
	[MaDatXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiHoatDong]    Script Date: 12/29/2024 3:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiHoatDong](
	[MaTrangThai] [int] IDENTITY(1,1) NOT NULL,
	[TrangThai] [bit] NULL,
	[SoDienThoai] [varchar](100) NULL,
 CONSTRAINT [PK_TrangThaiHoatDong] PRIMARY KEY CLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhGiaUngDung] ON 

INSERT [dbo].[DanhGiaUngDung] ([MaDanhGia], [SoDienThoai], [NgayDanhGia], [MucDo], [NoiDung]) VALUES (1, N'DangQuy123', CAST(N'2024-12-29T14:59:11.443' AS DateTime), 5, N'pk')
SET IDENTITY_INSERT [dbo].[DanhGiaUngDung] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [SoDienThoai], [Ten], [NgayThangNamSinh], [CCCD], [Email], [HinhAnh]) VALUES (1, N'DangQuy123', N'Đăng Quý', CAST(N'2024-12-29T00:00:00.000' AS DateTime), N'7782993', N'dangquy360@gmail.com', N'61608218Screenshot 2024-12-28 214446.png')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [MaCode], [TenKhuyenMai], [PhanTram], [NgayBatDau], [NgayKetThuc], [NoiDung], [TrangThai]) VALUES (1, N'KM001', N'Mùa Giảm Giá', CAST(20.00 AS Decimal(5, 2)), CAST(N'2024-12-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), N'Miễn phí giao hàng khi mua từ 500k', 1)
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [MaCode], [TenKhuyenMai], [PhanTram], [NgayBatDau], [NgayKetThuc], [NoiDung], [TrangThai]) VALUES (2, N'KM002', N'Khuyến Mãi Tết', CAST(15.00 AS Decimal(5, 2)), CAST(N'2024-12-15T00:00:00.000' AS DateTime), CAST(N'2026-01-15T00:00:00.000' AS DateTime), N'Tặng quà cho đơn hàng trên 300k', 1)
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (1, N'Super admin')
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (2, N'Driver')
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[QuyenTaiKhoan] ON 

INSERT [dbo].[QuyenTaiKhoan] ([MaQuyenTK], [SoDienThoai], [MaQuyen]) VALUES (1, N'DangQuy', 1)
INSERT [dbo].[QuyenTaiKhoan] ([MaQuyenTK], [SoDienThoai], [MaQuyen]) VALUES (3, N'DangQuy123', 3)
SET IDENTITY_INSERT [dbo].[QuyenTaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [SoDienThoai], [MatKhau]) VALUES (3, N'0388159145', N'0388159145')
INSERT [dbo].[TaiKhoan] ([MaTK], [SoDienThoai], [MatKhau]) VALUES (2, N'0987654321', N'password456')
INSERT [dbo].[TaiKhoan] ([MaTK], [SoDienThoai], [MatKhau]) VALUES (1, N'DangQuy', N'0388159145')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__DanhGiaTa__KHDan__66603565]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__DanhGiaTa__KHDan__66603565] ON [dbo].[DanhGiaTaiXe]
(
	[KHDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__DanhGiaTa__TKTai__6754599E]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__DanhGiaTa__TKTai__6754599E] ON [dbo].[DanhGiaTaiXe]
(
	[TKTaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__LichSuGia__SoDie__00DF2177]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__LichSuGia__SoDie__00DF2177] ON [dbo].[LichSuGiaoDich]
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__LichSuGia__SoDie__7FEAFD3E]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__LichSuGia__SoDie__7FEAFD3E] ON [dbo].[LichSuGiaoDich]
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__NhanTin__SDTNguo__70DDC3D8]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__NhanTin__SDTNguo__70DDC3D8] ON [dbo].[NhanTin]
(
	[SDTNguoiNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__NhanTin__SDTNguo__71D1E811]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__NhanTin__SDTNguo__71D1E811] ON [dbo].[NhanTin]
(
	[SDTNguoiGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__QuyenTaiK__MaQuy__6D0D32F4]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__QuyenTaiK__MaQuy__6D0D32F4] ON [dbo].[QuyenTaiKhoan]
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__QuyenTaiK__SoDie__6C190EBB]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__QuyenTaiK__SoDie__6C190EBB] ON [dbo].[QuyenTaiKhoan]
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__TaiKhoanN__SoDie__5165187F]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__TaiKhoanN__SoDie__5165187F] ON [dbo].[TaiKhoanNganHang]
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__TaiKhoanN__SoThe__0B5CAFEA]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__TaiKhoanN__SoThe__0B5CAFEA] ON [dbo].[TaiKhoanNganHang]
(
	[SoThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__TaiKhoanN__SoDie__7B264821]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__TaiKhoanN__SoDie__7B264821] ON [dbo].[TaiKhoanNganHangTaiXe]
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__TaiKhoanN__SoDie__7C1A6C5A]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__TaiKhoanN__SoDie__7C1A6C5A] ON [dbo].[TaiKhoanNganHangTaiXe]
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__TaiKhoanN__SoThe__7D0E9093]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__TaiKhoanN__SoThe__7D0E9093] ON [dbo].[TaiKhoanNganHangTaiXe]
(
	[SoThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__TaiXeNhan__MaDat__797309D9]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__TaiXeNhan__MaDat__797309D9] ON [dbo].[TaiXeNhanChuyenXe]
(
	[MaDatXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__TaiXeNhan__SoDie__787EE5A0]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__TaiXeNhan__SoDie__787EE5A0] ON [dbo].[TaiXeNhanChuyenXe]
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__ThanhToan__MaDat__5CD6CB2B]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__ThanhToan__MaDat__5CD6CB2B] ON [dbo].[ThanhToan]
(
	[MaDatXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__ThanhToan__MaKhu__5DCAEF64]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__ThanhToan__MaKhu__5DCAEF64] ON [dbo].[ThanhToan]
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__ThanhToan__MaTai__5BE2A6F2]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__ThanhToan__MaTai__5BE2A6F2] ON [dbo].[ThanhToan]
(
	[MaTaiKhoanNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__ThanhToan__SoDie__5AEE82B9]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__ThanhToan__SoDie__5AEE82B9] ON [dbo].[ThanhToan]
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK_SoDienThoaiTX]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_SoDienThoaiTX] ON [dbo].[ThanhToan]
(
	[SoDienThoaiTX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__ThongTinD__SoDie__5535A963]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__ThongTinD__SoDie__5535A963] ON [dbo].[ThongTinDatXe]
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK__TrangThai__SoDie__74AE54BC]    Script Date: 12/29/2024 3:11:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK__TrangThai__SoDie__74AE54BC] ON [dbo].[TrangThaiHoatDong]
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DanhGiaTaiXe]  WITH CHECK ADD  CONSTRAINT [FK__DanhGiaTa__KHDan__66603565] FOREIGN KEY([KHDanhGia])
REFERENCES [dbo].[KhachHang] ([SoDienThoai])
GO
ALTER TABLE [dbo].[DanhGiaTaiXe] CHECK CONSTRAINT [FK__DanhGiaTa__KHDan__66603565]
GO
ALTER TABLE [dbo].[DanhGiaTaiXe]  WITH CHECK ADD  CONSTRAINT [FK__DanhGiaTa__TKTai__6754599E] FOREIGN KEY([TKTaiXe])
REFERENCES [dbo].[TaiXe] ([SoDienThoai])
GO
ALTER TABLE [dbo].[DanhGiaTaiXe] CHECK CONSTRAINT [FK__DanhGiaTa__TKTai__6754599E]
GO
ALTER TABLE [dbo].[DanhGiaUngDung]  WITH CHECK ADD  CONSTRAINT [FK__DanhGiaUn__SoDie__619B8048] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[KhachHang] ([SoDienThoai])
GO
ALTER TABLE [dbo].[DanhGiaUngDung] CHECK CONSTRAINT [FK__DanhGiaUn__SoDie__619B8048]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK__KhachHang__SoDie__4BAC3F29] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[TaiKhoan] ([SoDienThoai])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK__KhachHang__SoDie__4BAC3F29]
GO
ALTER TABLE [dbo].[LichSuGiaoDich]  WITH CHECK ADD  CONSTRAINT [FK__LichSuGia__SoDie__00DF2177] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[TaiXe] ([SoDienThoai])
GO
ALTER TABLE [dbo].[LichSuGiaoDich] CHECK CONSTRAINT [FK__LichSuGia__SoDie__00DF2177]
GO
ALTER TABLE [dbo].[LichSuGiaoDich]  WITH CHECK ADD  CONSTRAINT [FK__LichSuGia__SoDie__7FEAFD3E] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[TaiXe] ([SoDienThoai])
GO
ALTER TABLE [dbo].[LichSuGiaoDich] CHECK CONSTRAINT [FK__LichSuGia__SoDie__7FEAFD3E]
GO
ALTER TABLE [dbo].[NhanTin]  WITH CHECK ADD  CONSTRAINT [FK__NhanTin__SDTNguo__70DDC3D8] FOREIGN KEY([SDTNguoiNhan])
REFERENCES [dbo].[TaiKhoan] ([SoDienThoai])
GO
ALTER TABLE [dbo].[NhanTin] CHECK CONSTRAINT [FK__NhanTin__SDTNguo__70DDC3D8]
GO
ALTER TABLE [dbo].[NhanTin]  WITH CHECK ADD  CONSTRAINT [FK__NhanTin__SDTNguo__71D1E811] FOREIGN KEY([SDTNguoiGui])
REFERENCES [dbo].[TaiKhoan] ([SoDienThoai])
GO
ALTER TABLE [dbo].[NhanTin] CHECK CONSTRAINT [FK__NhanTin__SDTNguo__71D1E811]
GO
ALTER TABLE [dbo].[QuyenTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__QuyenTaiK__MaQuy__6D0D32F4] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[QuyenTaiKhoan] CHECK CONSTRAINT [FK__QuyenTaiK__MaQuy__6D0D32F4]
GO
ALTER TABLE [dbo].[QuyenTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__QuyenTaiK__SoDie__6C190EBB] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[TaiKhoan] ([SoDienThoai])
GO
ALTER TABLE [dbo].[QuyenTaiKhoan] CHECK CONSTRAINT [FK__QuyenTaiK__SoDie__6C190EBB]
GO
ALTER TABLE [dbo].[TaiKhoanNganHang]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoanN__SoDie__5165187F] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[KhachHang] ([SoDienThoai])
GO
ALTER TABLE [dbo].[TaiKhoanNganHang] CHECK CONSTRAINT [FK__TaiKhoanN__SoDie__5165187F]
GO
ALTER TABLE [dbo].[TaiKhoanNganHang]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoanN__SoThe__0B5CAFEA] FOREIGN KEY([SoThe])
REFERENCES [dbo].[TheVisa] ([SoThe])
GO
ALTER TABLE [dbo].[TaiKhoanNganHang] CHECK CONSTRAINT [FK__TaiKhoanN__SoThe__0B5CAFEA]
GO
ALTER TABLE [dbo].[TaiKhoanNganHangTaiXe]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoanN__SoDie__7B264821] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[TaiXe] ([SoDienThoai])
GO
ALTER TABLE [dbo].[TaiKhoanNganHangTaiXe] CHECK CONSTRAINT [FK__TaiKhoanN__SoDie__7B264821]
GO
ALTER TABLE [dbo].[TaiKhoanNganHangTaiXe]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoanN__SoDie__7C1A6C5A] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[TaiXe] ([SoDienThoai])
GO
ALTER TABLE [dbo].[TaiKhoanNganHangTaiXe] CHECK CONSTRAINT [FK__TaiKhoanN__SoDie__7C1A6C5A]
GO
ALTER TABLE [dbo].[TaiKhoanNganHangTaiXe]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoanN__SoThe__7D0E9093] FOREIGN KEY([SoThe])
REFERENCES [dbo].[TheVisa] ([SoThe])
GO
ALTER TABLE [dbo].[TaiKhoanNganHangTaiXe] CHECK CONSTRAINT [FK__TaiKhoanN__SoThe__7D0E9093]
GO
ALTER TABLE [dbo].[TaiXe]  WITH CHECK ADD  CONSTRAINT [FK__TaiXe__SoDienTho__4E88ABD4] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[TaiKhoan] ([SoDienThoai])
GO
ALTER TABLE [dbo].[TaiXe] CHECK CONSTRAINT [FK__TaiXe__SoDienTho__4E88ABD4]
GO
ALTER TABLE [dbo].[TaiXeNhanChuyenXe]  WITH CHECK ADD  CONSTRAINT [FK__TaiXeNhan__MaDat__797309D9] FOREIGN KEY([MaDatXe])
REFERENCES [dbo].[ThongTinDatXe] ([MaDatXe])
GO
ALTER TABLE [dbo].[TaiXeNhanChuyenXe] CHECK CONSTRAINT [FK__TaiXeNhan__MaDat__797309D9]
GO
ALTER TABLE [dbo].[TaiXeNhanChuyenXe]  WITH CHECK ADD  CONSTRAINT [FK__TaiXeNhan__SoDie__787EE5A0] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[TaiXe] ([SoDienThoai])
GO
ALTER TABLE [dbo].[TaiXeNhanChuyenXe] CHECK CONSTRAINT [FK__TaiXeNhan__SoDie__787EE5A0]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK__ThanhToan__MaDat__5CD6CB2B] FOREIGN KEY([MaDatXe])
REFERENCES [dbo].[ThongTinDatXe] ([MaDatXe])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK__ThanhToan__MaDat__5CD6CB2B]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK__ThanhToan__MaKhu__5DCAEF64] FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([MaKhuyenMai])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK__ThanhToan__MaKhu__5DCAEF64]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK__ThanhToan__MaTai__5BE2A6F2] FOREIGN KEY([MaTaiKhoanNH])
REFERENCES [dbo].[TaiKhoanNganHang] ([MaTaiKhoanNH])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK__ThanhToan__MaTai__5BE2A6F2]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK__ThanhToan__SoDie__5AEE82B9] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[KhachHang] ([SoDienThoai])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK__ThanhToan__SoDie__5AEE82B9]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_SoDienThoaiTX] FOREIGN KEY([SoDienThoaiTX])
REFERENCES [dbo].[TaiXe] ([SoDienThoai])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_SoDienThoaiTX]
GO
ALTER TABLE [dbo].[ThongTinDatXe]  WITH CHECK ADD  CONSTRAINT [FK__ThongTinD__SoDie__5535A963] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[KhachHang] ([SoDienThoai])
GO
ALTER TABLE [dbo].[ThongTinDatXe] CHECK CONSTRAINT [FK__ThongTinD__SoDie__5535A963]
GO
ALTER TABLE [dbo].[TrangThaiHoatDong]  WITH CHECK ADD  CONSTRAINT [FK__TrangThai__SoDie__74AE54BC] FOREIGN KEY([SoDienThoai])
REFERENCES [dbo].[TaiKhoan] ([SoDienThoai])
GO
ALTER TABLE [dbo].[TrangThaiHoatDong] CHECK CONSTRAINT [FK__TrangThai__SoDie__74AE54BC]
GO
USE [master]
GO
